.Sortie{
    display: flex;
    flex-direction: column;
}
.BackButton{
    align-self: left;
    margin: 10px;
    background-color: var(--theme-color);
    color: white;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    width: 10%;
    text-decoration: none;
}
.BackButton:hover{
    transform: scale(1.05);
}
.PresentationBlock{
    border: 2px solid black;
    margin: 10px 10% 10px 10%;
    padding: 10px;
}
@media only screen and (max-width: 700px){
    .Sortie{
        margin: 20px;
    }
}